/AozoraEpub3.ini
/AozoraEpub3
/AozoraEpub3.zip
/bin
/.settings
/AozoraEpub3.jar
/.cache
/_kindlegen.exe
/replace.txt
/パッケージ作成*
/profiles
/kindlegen.exe


#Gradle
.gradle
build
bin

#IntelliJ IDEA
.idea
*.iml
*.iws
*.ipr
out

#Eclipse
.project
.classpath
.settings

#Windows
Thumbs.db

#MacOS
.DS_Store

#Maven
target

#Other
*.log
*.swp
*.bak

#Git
FETCH_HEAD
